# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Editor/IDE settings
.vscode/
.idea/

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# Coverage reports
coverage/

# Optional npm cache
.npm/